body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    text-align: center;
    background-color: #2e3d49;
    font-family: 'AmazonEmber', Helvetica Neue, Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 36px;
    color: #FF8C00;
}

p {
    font-size: 18px;
    color: #fff;
}

.icon-aws{
    width: 20vw;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
    gap: 15px;
    
}

.photo-icon {
    max-width: 150px; /* Ajusta a largura da imagem para caber no contêiner */
    max-height: 150px; /* Ajusta a altura da imagem para caber no contêiner */
    border-radius: 50%;
}

.inner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 200px;
    height: 280px;
    background-color: #FF8C00;
    border: 2px solid #2e3d49;
    color: #2e3d49;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    border-radius: 10px;
}

.button-container {
    display: inline-block;
    padding: 10px; 
    margin: 5px; 
    background-color: #2e3d49;
    color: #fff;
    text-decoration: none;
    border: none; 
    border-radius: 5px; 
    cursor: pointer;
    font-size: 16px; 
}
.introduction{
    max-width: 600px; /* Define uma largura máxima para o conteúdo */
            margin: 0 auto; /* Centraliza horizontalmente */
            text-align: justify; /* Justifica o texto */
}
.button-back{
    background-color:#FF8C00;
    border-radius: 10px;
    padding: 10px;
    width: 120px;
}

.button-back:hover{
    background-color: #2e3d49;
    color: #ff8e04;
}
.button-container:hover {
   
    background-color: #2e3d49;
    color: #ff8e04;
}

.div-button{
    display:flex;
    flex-direction: row;
}
.menu {
    background: #2e3d49;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 25px;
    right: 25px;
    cursor: pointer;
    box-shadow: 0 0 0 0 #fff, 0 0 0 0 #fff;
    transition: box-shadow 1.1s cubic-bezier(.19, 1, .22, 1);
}

.menu:hover {
    box-shadow: 0 0 0 8px #fff, 0 0 0 8px #fff;
}

.hamburguer {
    position: relative;
    display: block;
    background: #fff;
    width: 30px;
    height: 2px;
    top: 29px;
    left: 15px;
    transition: 0.5s ease-in-out;
}

.hamburguer:before,
.hamburguer:after {
    background: #fff;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 0.5s ease-in-out;
}

.hamburguer:before {
    top: -10px;
}

.hamburguer:after {
    bottom: -10px;
}

input {
    display: none;
}

input:checked ~ ul {
    opacity: 1;
}

input:checked ~ label .menu {
    box-shadow: 0 0 0 130vw #fff, 0 0 0 130vh #fff;
}

input:checked ~ label .hamburguer {
    transform: rotate(45deg);
}

input:checked ~ label .hamburguer:before {
    transform: rotate(90deg);
    top: 0%;
}

input:checked ~ label .hamburguer:after {
    transform: rotate(90deg);
    bottom: 0%;
}

ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    opacity: 0;
    transition: 0.25s 0.1s cubic-bezier(0, 1.07, 0, 1.02);
}

a {
    display: block;
    margin: 40px;
    color: #2e3d49;
    font-size: 47px;
    text-decoration: none;
}

.inner-container .inner-container {
    width: 30px;
    height: 30px;
    margin-bottom: 90px; 
}
